<h3 mat-dialog-title>University: {{ data.title }}</h3>

<form [formGroup]="form" mat-dialog-content>
  <app-input
    required="true"
    minlength="2"
    [field]="title"
    controlName="title"
    title="Title"
  ></app-input>
  <app-input
    required="true"
    [field]="name"
    controlName="name"
    title="Name"
  ></app-input>
</form>

<div mat-dialog-actions>
  <button mat-raised-button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" mat-button [disabled]="form.invalid" (click)="submit()">Save</button>
</div>
