<form [formGroup]="form" class="login-form">
  <div>
    <app-input
      required="true"
      minlength="3"
      [field]="username"
      controlName="username"
      title="Username"
    ></app-input>
  </div>
  <div>
    <app-input
      required="true"
      minlength="6"
      [field]="password"
      controlName="password"
      title="Password"
      type="password"
    ></app-input>
  </div>
  <div>
    <button mat-raised-button>Reset</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Login</button>
  </div>
</form>
